body,
body::after,
body::before {
	--chess-cell-size: 60px;
	--color: 0, 0, 0;
	box-sizing: border-box;
}

#header {
	top: 0;
	position: sticky;
}

#history,
#board-with-labels,
#killed-pieces {
	display: inline-block;
	vertical-align: top;
}

#play-area {
	text-align: center;
	display: inline;
}

#chess-board {
	border: 20px double black;
	padding: 3px;
}

.label {
	font-size: calc(var(--chess-cell-size) / 3);
	font-style: italic;
	color: grey;
}

#top-label {
	transform: translate(
		calc(var(--chess-cell-size) * 0.4),
		calc(var(--chess-cell-size) * 0.2)
	);
}
#right-label {
	display: table-cell;
}
#bottom-label {
	transform: translate(
		calc(var(--chess-cell-size) * 0.4),
		calc(var(--chess-cell-size) * -0.2)
	);
}
#left-label {
	display: table-cell;
}

#extra-container {
	display: inline-block;
}

.table-container {
	display: inline-table;
	vertical-align: top;
	transform: translateY(calc(var(--chess-cell-size) * 1.5));
}

td {
	padding: 0px;
	height: var(--chess-cell-size);
	width: var(--chess-cell-size);
	user-select: none;
	position: relative;
}

td.white-square:hover {
	box-shadow: 0px 0px 7px inset;
}

td.black-square:hover {
	box-shadow: 0px 0px 7px black inset;
}

td.selected-cell {
	box-shadow: 0px 0px 7px blue inset !important;
	background: cyan;
}

.black-square {
	background-color: rgba(var(--color), 40%);
}

.white-square {
	background-color: white;
}

.chess-piece {
	max-width: calc(var(--chess-cell-size) * 0.75);
	max-height: calc(var(--chess-cell-size) * 0.75);
	user-select: none;
	/* fill: rgba(var(--color), 70%); */
	/* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(120deg); */
	/* opacity: 90% !important; */
}
