*,
*::after,
*::before {
	--chess-cell-size: min(60px, 8vw);
	--color: 0, 0, 0;
	box-sizing: border-box;
	font-family: fantasy;
	text-align: center;
	margin: 0;
	font-weight: bolder;
	color: #333;
}

#header {
	top: 0;
	position: sticky;
}

#history,
#board-with-labels,
.killed-pieces {
	display: inline-block;
	vertical-align: top;
}

#board-with-labels {
	display: flex;
}

.killed-pieces {
	flex: 1;
	min-width: 2rem;
	border: 1px solid black;
	border-radius: 1rem;
	padding-top: 8px;
}
#history {
	flex: 4;
	min-width: 10rem;
	border: 1px solid black;
	border-radius: 1rem;
	padding-top: 8px;
}
#board-with-labels {
	flex: 7;
	justify-content: space-evenly;
	min-width: max(30rem, 50vw);
}

#main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem 0.5rem;
}

#play-area {
	text-align: center;
	display: inline;
}

#chess-board {
	border: 20px double black;
	padding: 3px;
}

.label {
	font-size: calc(var(--chess-cell-size) / 3);
	font-style: italic;
	color: grey;
}

#top-label {
	transform: translate(
		calc(var(--chess-cell-size) * 0.4),
		calc(var(--chess-cell-size) * 0.2)
	);
}
#right-label {
	display: table-cell;
}
#bottom-label {
	transform: translate(
		calc(var(--chess-cell-size) * 0.4),
		calc(var(--chess-cell-size) * -0.2)
	);
}
#left-label {
	display: table-cell;
}
#left-label .label,
#right-label .label,
td {
	text-align: center;
}

#extra-container {
	display: inline-block;
}

.table-container {
	display: inline-table;
	vertical-align: top;
	transform: translateY(calc(var(--chess-cell-size) * 1.5));
}

td {
	padding: 0px;
	height: var(--chess-cell-size);
	width: var(--chess-cell-size);
	user-select: none;
	position: relative;
}

td.white-square:hover {
	box-shadow: 0px 0px 7px inset;
}

td.black-square:hover {
	box-shadow: 0px 0px 7px black inset;
}

td.selected-cell {
	box-shadow: 0px 0px 7px blue inset !important;
	background: cyan;
}

.black-square {
	background-color: rgba(var(--color), 40%);
}

.white-square {
	background-color: white;
}

.chess-piece {
	max-width: calc(var(--chess-cell-size) * 0.75);
	max-height: calc(var(--chess-cell-size) * 0.75);
	user-select: none;
	/* fill: rgba(var(--color), 70%); */
	/* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(120deg); */
	/* opacity: 90% !important; */
}

#history-list img {
	height: 1.5rem;
	padding: 0px 8px;
}
#history-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding-top: 0.25rem;
}
#history-list li:last-of-type button {
	visibility: hidden;
}
#history-list {
	padding-right: 1rem;
	padding-left: 1rem;
}

button {
	background-color: aliceblue;
	border: 1px solid cornflowerblue;
	padding: 4px 12px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: paleturquoise;
}

#killed-pieces {
	display: block;
}
#killed-pieces li {
	display: flex;
	height: 2.5rem;
	padding-top: 6px;
}

#header {
	z-index: 10000;
	height: 3rem;
	display: flex;
	padding: 0 2rem;
	font-size: 2.5rem;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to bottom, #222, #555);
}

#chess-board td {
	cursor: pointer;
}

.toast {
	padding: 0.75rem 1rem;
	border-radius: 1rem;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
.hide-toast {
	display: none;
}
.toast-error {
	background: hsla(0 100% 97%);
	color: red;
	border: 1px solid red;
}
.toast-info {
	background: hsla(240 100% 97%);
	color: blue;
	border: 1px solid blue;
}
.toast-warn {
	background: hsla(40 100% 97%);
	color: darkorange;
	border: 1px solid darkorange;
}
